<!-- Flex Container for Image and Contact Info -->
<div class="contact-container">
  <!-- Blue Box (Image) -->
  <div class="image-section">
    <img src="resources/northern_lights.jpg" alt="Contact Image" class="contact-image">
  </div>

  <!-- Black Box (Contact Info) -->
  <div class="contact-info">
    <h2>Contact Information</h2>
    <p><strong>Email:</strong> pevhv.2001@gmail.com</p>
    <p><strong>Phone:</strong> +33 06 22 33 55 96</p>
    <P><strong>LinkedIn</strong> : <a href="https://www.linkedin.com/in/pedro-van-hylckama-vlieg/" class="linkedin-link"target="_blank" rel="noopener">Pedro van Hylckama Vlieg</a></P>
    <div class="language-flags">
      <img src="resources/flags/fra.png" alt="">
      <img src="resources/flags/eng.png" alt="">
      <img src="resources/flags/por.png" alt="">
      <img src="resources/flags/nld.png" alt="">
    </div>
  </div>
</div>