


<div class="content-wrapper">
  <div class="image-wrapper">
    <img src="resources/seattle.jpg" alt="Contact Image" class="main-image">
  </div>
  <div>
    <div class="section-wrapper">
      <h2 class="section-header">About Me ...</h2>
      <p class="section-text">
          I am a Computer Science graduate at the University of Paris-Saclay. With a strong
          ambition to become a leading data architect and strategy engineer, I aim to make a
          difference in teams developing technologies that address tomorrow’s major challenges.
          Beyond my technical interests, I have a deep passion for history, geography, and politics.
          <br>
          Having lived and studied in four countries and being fluent in four languages, I bring a
          global mindset and strong cross-cultural communication skills - an asset in diverse,
          collaborative environments.
      </p>
    </div>

    <!-- Contact Information Section -->
    <div class="section-wrapper">
      <h2 class="section-header">Let's get in touch ...</h2>
      <div class="section-text">
        <p>
          Feel free to reach out, in any of these languages :
        </p>
          <div class="language-flags">
            <img src="resources/flags/fra.png" alt="" title="French">
            <img src="resources/flags/eng.png" alt="" title="English">
            <img src="resources/flags/por.png" alt="" title="Portuguese">
            <img src="resources/flags/nld.png" alt="" title="Dutch">
          </div>
      </div>

    </div>
  </div>
</div>

