body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  background-color: #1a1a1a;
  color: #e0e0e0; /* Light text for contrast against dark theme */
}

main {
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
}